:root {
    --white: #ffffff;
    --light-pink: #fffafa; 
    --gray-bg: #d3d3d3;
    --dark-blue: #0f4c81; 
    --medium-blue: #1c6da0;
    --logo-blue: #007bff; 
    --text-color: #333;
}


body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image:
        linear-gradient(to right, #cccccc36 1px, transparent 1px),
        linear-gradient(to bottom, #cccccc52 1px, transparent 1px); 
    background-size: 20px 20px;
    background-repeat: repeat; 
}

.container {
    display: flex;
    align-items: center;
    gap: 100px; 
}


.logo-section {
    text-align: center;
}

.logo-image {
    width: 500px;
    height: 500px;
    margin: 0 auto 10px;
    border-radius: 50%;
}

.logo-subtitle {
    font-size: 3em;
    font-weight: normal;
    color: var(--text-color);
    margin-top: 1px;
    font-family: poppins, sans-serif;
}


.login-section {
    padding: 20px;
}

.login-box {
    background-color: #CCE2FF;
    padding: 40px;
    border-radius: 15px; 
    border: #DAA801 3px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.input-field {
    width: 300px;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
    border: #333 1px solid;
    background-color: var(--light-pink); 
    font-size: 1em;
    color: var(--text-color);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); 
    outline: none; 
}

.input-field::placeholder {
    color: #6c757d; 
}

.login-button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    border: #333 1px solid;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(to bottom, var(--medium-blue), var(--dark-blue));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
}

.login-button:hover {
    background: linear-gradient(to bottom, var(--dark-blue), var(--medium-blue));
}


.error-message {
    color: #cc0000;
    background-color: #ffeaea;
    border: 1px solid #cc0000;
    padding: 10px;
    border-radius: 5px;
    margin-top: -10px; 
    text-align: center;
    font-size: 0.9em;
    display: none;
}