<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido Usuario</title>
    <link rel="stylesheet" href="../css/inicioUsuario.css">
</head>

<body>
    <div class="main-container">

        <header class="header-section">
            <h1 class="welcome-title" id="welcome">Bienvenido Usuario</h1>
            <div class="user-profile">
                <div class="user-links">
                    <a href="./miPerfil.html" class="profile-link">
                        <div class="user-avatar">
                            <img src="placeholder-user-icon.png" alt="Perfil">
                        </div>
                        VER PERFIL
                    </a>
                    <a href="../index.html" class="logout-link">CERRAR SESIÓN</a>
                </div>
            </div>
        </header>

        <div class="filter-section">
            <input type="text" placeholder="Buscar" class="search-input" id="searchInput">

            <select class="select-filter" id="areasSelect">
                <option value="">Seleccionar</option>
            </select>
        </div>

        <div class="cards-container">
        </div>

    </div>
    <script src="../js/api/UsuariosAPI.js"></script>
    <script src="../js/api/Areas_TrabajoAPI.js"></script>
    <script src="../js/inicioUsuario.js"></script>
</body>

</html>